:host {
    display: block;
    margin-top: 30px;

    .card {
        margin-bottom: 20px;

        .card-header {
            .admin-avatar {
                background-image: url('../../../assets/images/omg.gif');
                background-size: cover;
            }
        }

        .content {
            line-height: 20px;
        }
    }
}