:host {
    display: block;
    margin-top: 30px;

    .card {
        margin-bottom: 20px;

        .card-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .card-title {
                margin: 0;
            }
            .admin-avatar {
                background-image: url('../../../assets/images/omg.gif');
                background-size: cover;
            }
        }

        .content {
            line-height: 20px;
        }
    }
}