.card-wrapper {
    display: flex;
    justify-content: space-around;
    .card {
        margin-top: 20vh;
        min-width: 700px;
        .card-content {
            .full-width {
                margin-bottom: 15px;
            }
        }
    }
}
