:host {
    display: block;
    margin-top: 30px;

    .pagination {
        margin-top: 15px;
    }

    .button-area {
        margin-bottom: 30px;
        button { margin-right: 15px; }
    }

    .accordion {
        .post-header::ng-deep {
            .mat-content {
                align-items: center;
                .mat-expansion-panel-header-title {
                    display: block;
                    min-width: 100px;
                    max-width: 25%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .divider {
            margin-top: 25px;
            margin-bottom: 10px;
            margin-left: -25px;
            margin-right: -25px;
        }

        .download-all {
            margin-left: 20px;
            cursor: pointer;
        }

        .file-name {
            cursor: pointer;
            color: blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tags::ng-deep{
        .mat-chip-list-wrapper {
            flex-wrap: nowrap;
        }
    }
}