@import './assets/fonts/web-font.scss';

// import saturn theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~saturn-datepicker/bundle.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto }

.d-flex {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;

    &.end {
        justify-content: flex-end;
    }
    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}