<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{postId ? 'Edit' : 'Create'}} Post</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Title" formControlName="title">
                <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">Invalid Title</mat-error>
            </mat-form-field>

            <app-tag [form]="form" [tags]="form.get('tags').value"></app-tag>

            <div class="quill-editor">
                <quill-editor [styles]="{'font-size': '120%', 'min-height': '300px'}" formControlName="content"></quill-editor>
            </div>

            <div>
                <button mat-raised-button type="button" class="upload-btn" (click)="fileInput.click()">Upload Documents</button>
                <input type="file" #fileInput style="display: none;" multiple (change)="onDocumentSelect($event)">
                <mat-list class="attachments" *ngIf="files.length > 0" >
                    <h3 mat-subheader>Attachments</h3>
                    <mat-list-item *ngFor="let item of files" >
                        <mat-icon mat-list-icon>attachment</mat-icon>
                        <h4 mat-line class="file-name" (click)="download(null, item)">{{item.fileName || item.name}}</h4>
                        <mat-icon color="warn" (click)="removeAttachment(item)" >delete</mat-icon>
                    </mat-list-item>
                </mat-list>
            </div>

        </form>
    </mat-card-content>

    <mat-card-actions class="d-flex between">
        <div>
            <button mat-button type="button" (click)="submit()" color="primary">Submit</button>
            <button mat-button type="button" routerLink="/post" color="warn">Cancel</button>
        </div>
        <div *ngIf="user.roleType === RoleType.Admin && post">
            <button mat-button type="button" (click)="togglePublish()" color="primary">{{ post?.isPublic ? 'Unpublish' : 'Publish' }}</button>
        </div>
    </mat-card-actions>
</mat-card>

 