
.card {
    .card-content {
        margin-top: 30px;

        .upload-btn {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .quill-editor {
            margin: 20px auto;
        }

        .attachments {
            .file-name {
                cursor: pointer;
                color: blue;
                &:hover {
                    text-decoration: underline;
                }
            }
            mat-icon {
                cursor: pointer;
            }
        }
    }
}
